<div class="product-list">
  <h2>Lista de Productos</h2>
  <div class="product-categories">
    <div *ngFor="let category of product" class="category">
      <h3>{{ category.categoria }}</h3>
      <ul class="product-items">
        <li *ngFor="let productItem of category.productos">
          <div class="product-card" (click)="onSelectProduct(productItem)">
            <img [src]="productItem.imagen" alt="{{ productItem.nombre }}" />
            <h4>{{ productItem.nombre }}</h4>
            <p>Precio: {{ productItem.precio | currency }}</p>
            <p>{{ productItem.descripcion }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
