<div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Registro de usuario</h1>
        <form style="border-radius: 10px; background-color: aquamarine;">
          <div class="form-group">
            <label >Nombre</label>
            <input class="form-control input-largo" [(ngModel)]="user.nombre" name="name" placeholder="Digite su nombre">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" required [(ngModel)]="user.username" name="username" placeholder="Digite su nombre de usuario">
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input class="form-control" required [(ngModel)]="user.email" name="email" type="email" placeholder="Digite su email">
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input class="form-control" required [(ngModel)]="user.direccion" name="direccion" placeholder="Digite su dirección">
          </div>
          <div class="form-group">
            <label for="genero">Tipo M o F</label>
            <input class="form-control" required [(ngModel)]="user.tipo" name="tipo" placeholder="Digite su género">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input class="form-control" required [(ngModel)]="user.telefono" name="telefono" placeholder="Digite su teléfono">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" required [(ngModel)]="user.password" name="password" type="password" placeholder="Digite su contraseña">
          </div>
  
          <div class="container text-center">
            <button class="btn btn-success" (click)="formSubmit()">Registrar</button>
            <button type="reset" class="btn btn-danger" style="margin-left: 20px;">Limpiar</button>
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
  
